<div class="book">  
    <ng-container *ngIf="book.imageLinks; else noThumbNail" >
        <div class="book-top"[ngStyle]="{ width: 128, height: 193, 'background-image': 'url('+book.imageLinks.thumbnail+')'}">
            <div class="book-cover"></div>
            <app-book-shelf-changer [book] = 'book' [shelf] = 'shelf' (selectionChanged)="update($event)">
            </app-book-shelf-changer>
          </div>
          <div class="book-title">{{book.title}}</div>
          <div class="book-authors" >{{ book.authors ? book.authors.join(', ') : ''}}</div>
    </ng-container>
    <ng-template #noThumbNail>
        <div class="book-top"[ngStyle]="{ width: 128, height: 193}">
          <div class="book-cover"></div>
          <app-book-shelf-changer [book] = 'book' [shelf] = 'shelf' (selectionChanged)="update($event)">
          </app-book-shelf-changer>
        </div>
        <div class="book-title">{{book.title}}</div>
        <div class="book-authors" >{{ book.authors ? book.authors.join(', ') : ''}}</div>
    </ng-template>
</div>
  

